
newsf_pack/client/syserr.txt
newsf_pack/client/metin2.cfg
newsf_pack/client/metin2client.bsc
newsf_pack/client/metin2client.exe
newsf_pack/client/metin2client.map
newsf_pack/client/metin2client.pdb
newsf_client/Srcs/Extern/lib/cryptlib-Debug.lib
/newsf_pack/client/shops
newsf_pack/client/shop.cfg
/newsf_pack/client/logs
