new_project_pack/client/metin2.cfg
new_project_pack/client/metin2client.pdb
new_project_pack/client/logs
new_project_pack/client/metin2client.bsc
new_project_pack/client/metin2client.map
new_project_pack/client/metin2client.pdb
new_project_pack/client/metin2client.exe
new_project_pack/client/syserr.txt
*.edata
new_project_pack/client/syserr.txt
new_project_pack/client/bulk_potion_panel.cfg
new_project_pack/client/metin2.cfg
new_project_pack/client/metin2client.exe
new_project_pack/client/pack/icon.edata
new_project_pack/client/pack/locale.edata
new_project_pack/client/pack/maps.edata
new_project_pack/client/pack/property.edata
new_project_pack/client/pack/root.edata
new_project_pack/client/pack/season.edata
new_project_pack/client/pack/sound.edata
new_project_pack/client/pack/special_patch_animation.edata
new_project_pack/client/pack/special_patch_common.edata
new_project_pack/client/pack/special_patch_ex.edata
new_project_pack/client/pack/special_patch_hair.edata
new_project_pack/client/pack/textureset.edata
new_project_pack/client/pack/yw_etc.edata
new_project_pack/client/pack/yw_monster.edata
new_project_pack/client/pack/yw_monster2.edata
new_project_pack/client/pack/yw_npc.edata
new_project_pack/client/pack/yw_npc2.edata
new_project_pack/client/pack/yw_npc_mount.edata
new_project_pack/client/pack/yw_npc_pet.edata
new_project_pack/client/pack/yw_pc.edata
new_project_pack/client/pack/yw_pc2.edata
new_project_pack/client/pack/yw_zone.edata
/new_project_pack/data/__TOOLS__/locale
/new_project_pack/data/__TOOLS__
