new_project_pack/client/metin2.cfg
new_project_pack/client/metin2client.pdb
new_project_pack/client/logs
new_project_pack/client/metin2client.bsc
new_project_pack/client/metin2client.map
new_project_pack/client/metin2client.pdb
new_project_pack/client/metin2client.exe
new_project_pack/client/syserr.txt
